<!DOCTYPE html>
<html lang="pl" xmlns:th=" http://thymeleaf.org">
<head>
    <title> Chat </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<script>
    window.onload = startInterval;
    var lastMessageDateTime = new Date();

    function startInterval() {
        setInterval("getNewMessages();", 2000);
        setInterval("getUsers();", 5000)
    }

    function myFunction(messageList) {
        var table = document.getElementById("messageList");
        // Passing data into table
        for (var i = 0; i < messageList.length; i++) {
            var row = table.insertRow(table.length);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            cell1.innerText = messageList[i].from;
            cell2.innerHTML = messageList[i].date;
            cell3.innerText = messageList[i].text;
        }
        lastMessageDateTime = new Date(messageList[messageList.length - 1].date);
    }

    function getNewMessages() {
        var http = new XMLHttpRequest();
        var url = "http://192.168.1.68:8080/messageLast?date=" + lastMessageDateTime.getTime();
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var obj = JSON.parse(this.responseText);
                myFunction(obj);
            }
        };
        http.open("GET", url, true);
        http.send();
    }

    function userList(userOnline) {
        var table = document.getElementById("userList");
        table.remove();
        table = document.getElementById("table");
        var tbody = document.createElement("TBODY");
        tbody.setAttribute("id","userList");
        table.appendChild(tbody);
        for(var i = 0; i<userOnline.length;i++) {
            var row = tbody.insertRow();
            var cellLogin = row.insertCell(0);
            cellLogin.innerText = userOnline[i].login;
            var cellStatus = row.insertCell(1);
            cellStatus.innerText = userOnline[i].userStatus;
        }
    }

    function getUsers() {
        var http = new XMLHttpRequest();
        var url = "http://192.168.1.68:8080/userOnline";
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var obj = JSON.parse(this.responseText);
                userList(obj);
            }
        };
        http.open("GET", url, true);
        http.send();
    }
</script>

<br>
<div class="container">
    <tbody>
    <h1>Witaj
        <td th:text="${user.login}">login</td>
        //wrzucic w token
    </h1>
    <form action="/logout" method="post">
        <input type="submit" value="Wyloguj"/>
    </form>
    </tbody>
</div>
<div class="container">
    <h1>Użytkownicy online: </h1>

    <table class="table" id="table">
        <thead>
        <tr>
            <th>Login</th>
            <th>User Status</th>

        </tr>
        </thead>
        <tbody id="userList">
        <tr th:each="user : ${users}" th:if="${user.userStatus == user.userStatus.online}">
            <td th:text="${user.login}">login</td>
            <td th:text="${user.userStatus}">userStatus</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h1>Wiadomości: </h1>
    <table class="table">
        <thead>
        <tr>
            <th>Login</th>
            <th>Data</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody id="messageList">
        <tr th:each="message : ${messages}">
            <td th:text="${message.from}">login</td>
            <td th:text="${message.date}">Data</td>
            <td th:text="${message.text}">Message</td>
        </tr>
        </tbody>
    </table>
    <form action="/saveMessage" method="post">
        <label>Napisz wiadomosc:</label>
        <input type="text" class="form-control" field="text" name="text" id="text"/>
        <button>Wyslij</button>
        <!--<button type="submit" class="btn btn-default">Wyslij</button>-->
    </form>
</div>
</body>
</html>